*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-size: 14px;
  text-rendering: optimizelegibility;
}

button,
input,
textarea {
  font: inherit;
  color: inherit;
}
